        <!--left side nav-->
        <ul class="navbar-nav left-side-nav" id="accordion">

            <li class="nav-item-search" data-toggle="tooltip" data-placement="right" title="" data-original-title="Search">
                <div class="nav-link nav-link-collapse collapsed" data-toggle="collapse">
                    <i class="vl_search"></i>
                    <span class="nav-link-text">
                        <input type="text" class="search-form" placeholder="Search Report">
                    </span>
                </div>
            </li>

            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Dashboard">
                <a class="nav-link nav-link-collapse" data-toggle="collapse" data-target="#dashboard">
                    <i class="vl_dashboard"></i>
                    <span class="nav-link-text">Dashboard </span>
                </a>
                <!-- <ul class="sidenav-second-level collapse show" id="dashboard" data-parent="#accordion">
                    <li class="active"> <a href="index.html">Dashboard 1</a> </li>
                    <li> <a href="dashboard-2.html">Dashboard 2</a></li>
                    <li> <a href="dashboard-3.html">Dashboard 3</a></li>
                    <li> <a href="dashboard-4.html">Dashboard 4</a></li>
                    <li> <a href="dashboard-5.html">Dashboard 5</a></li>
                    <li> <a href="dashboard-6.html">Dashboard 6</a></li>
                    <li> <a href="dashboard-crypto.html">Dashboard Crypto <span class="badge badge-success">New</span></a></li> 
                </ul> -->
            </li>

            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="UI Elements">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" data-target="#ui_elements">
                    <i class="vl_slider-h-range"></i>
                    <span class="nav-link-text">UI Elements</span>
                </a>
                <ul class="sidenav-second-level collapse" id="ui_elements" data-parent="#accordion">
                    <li> <a href="alert.html">Alerts</a> </li>
                    <li> <a href="buttons.html">Buttons</a></li>
                    <li> <a href="dropdown.html">Dropdown</a></li>
                    <li> <a href="modals.html">Modal</a></li>
                    <li> <a href="toastr-notification.html">Notification Toastr</a></li>
                    <li> <a href="progress.html">Progress</a></li>
                    <li> <a href="popover-tooltips.html">Popup &amp; Tooltips</a></li>
                    <li> <a href="typography.html">Typography</a></li>
                    <li> <a href="tabs-accordion.html">Tabs &amp; Accordion</a></li>
                    <li> <a href="tree.html">Tree</a></li>
                </ul>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Widgets">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" data-target="#widgets">
                    <i class="vl_bond"></i>
                    <span class="nav-link-text">Widgets</span>
                </a>
                <ul class="sidenav-second-level collapse" id="widgets" data-parent="#accordion">
                    <li> <a href="widget-basic.html">Basic Widgets</a> </li>
                    <li> <a href="widget-chart.html">Chart Widgets</a> </li>
                </ul>
            </li>

            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Calendar">
                <a class="nav-link" href="calendar-external-events.html">
                    <i class="vl_calendar"></i>
                    <span class="nav-link-text">Calendar <span class="badge badge-primary">2</span> </span>
                </a>
            </li>

            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Icons">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" data-target="#icons">
                    <i class="vl_hand-mike"></i>
                    <span class="nav-link-text">Icons</span>
                </a>
                <ul class="sidenav-second-level collapse" id="icons" data-parent="#accordion">
                    <li> <a href="icon-fontawesome.html">Fontawesome Icons</a> </li>
                    <li> <a href="icon-simple-line.html">Simple Line Icons</a> </li>
                    <li> <a href="icon-themify.html">Themify Icons</a> </li>
                    <li> <a href="icon-weather.html">Weather Icons</a> </li>
                </ul>
            </li>

            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Forms">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" data-target="#forms">
                    <i class="vl_form"></i>
                    <span class="nav-link-text">Forms</span>
                </a>
                <ul class="sidenav-second-level collapse" id="forms" data-parent="#accordion">
                    <li> <a href="form-basic.html">Basic Forms</a> </li>
                    <li> <a href="form-checkbox-radio.html">Checkbox &amp; Radio</a> </li>
                    <li> <a href="form-input-group.html">Input Group</a> </li>
                    <li> <a href="form-validation.html">Form Validation</a> </li>
                    <li> <a href="editor-summernote.html">Editor Summernote</a> </li>
                    <li> <a href="form-dropzone.html">Dropzone</a> </li>
                    <li> <a href="form-pickers.html">Pickers</a> </li>
                    <li> <a href="form-select2.html">Select 2</a> </li>
                    <li> <a href="form-multi-select.html">Multiple Select</a> </li>
                    <li> <a href="form-wizard.html">Form Wizard</a> </li>
                    <li> <a href="form-switch.html">Switchery</a> </li>
                </ul>
            </li>

            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Data Tables">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" data-target="#d_tables">
                    <i class="vl_grid-even"></i>
                    <span class="nav-link-text">Data Tables</span>
                </a>
                <ul class="sidenav-second-level collapse" id="d_tables" data-parent="#accordion">
                    <li> <a href="table-basic.html">Basic Table</a> </li>
                    <li> <a href="table-datatable.html">Data Table</a> </li>
                    <li> <a href="table-ajax-datatable.html">Ajax Data Table</a> </li>
                </ul>
            </li>

            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Charts">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" data-target="#charts">
                    <i class="vl_graph-bar"></i>
                    <span class="nav-link-text">Charts</span>
                </a>
                <ul class="sidenav-second-level collapse" id="charts" data-parent="#accordion">
                    <li> <a href="chartjs.html">Chartjs</a> </li>
                    <li> <a href="echarts.html">eCharts</a> </li>
                    <li> <a href="amcharts.html">amCharts</a> </li>
                </ul>
            </li>

            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Exra Pages">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" data-target="#extra_pages">
                    <i class="vl_files"></i>
                    <span class="nav-link-text">Extra Pages</span>
                </a>
                <ul class="sidenav-second-level collapse" id="extra_pages" data-parent="#accordion">
                    <li> <a href="profile.html">Profile</a> </li>
                    <li> <a href="invoice.html">Invoice</a> </li>
                    <li> <a href="blank-page.html">Blank Page</a> </li>
                    <li> <a href="login.html">Login Page</a> </li>
                    <li> <a href="registration.html">Registration Page</a> </li>
                    <li> <a href="404.html">404 Error</a> </li>
                </ul>
            </li>
            
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Layouts">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" data-target="#layouts">
                    <i class="vl_board"></i>
                    <span class="nav-link-text">Layouts</span>
                </a>
                <ul class="sidenav-second-level collapse" id="layouts" data-parent="#accordion">
                    <li> <a href="layout-top-nav.html">Top Nav </a></li>
                    <li> <a href="layout-dark-nav.html">Dark Left Nav</a> </li>
                    <li> <a href="blank-page.html">Light Left Nav</a> </li>
                    <li> <a href="layout-default-collapsed.html">Nav Collapsed Light</a></li>
                    <li> <a href="layout-dark-nav-collapsed.html">Nav Collapsed Dark</a></li>
                    <li> <a href="layout-floating-leftside-dark.html">Floating Nav Dark</a></li>
                    <li> <a href="layout-floating-leftside-dark-collapsed.html">Floating Collapsed Dark </a></li>
                    <li> <a href="layout-floating-leftside-light.html">Floating Nav Light </a></li>
                    <li> <a href="layout-floating-leftside-light-collapsed.html">Floating Collapsed Light </a></li>
                </ul>
            </li>

            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Menu Levels">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" data-target="#multi_menu">
                    <i class="vl_sitemap1"></i>
                    <span class="nav-link-text">Menu Levels</span>
                </a>
                <ul class="sidenav-second-level collapse" id="multi_menu" data-parent="#accordion">
                    <li>
                        <a href="#">Second Level Item</a>
                    </li>
                    <li>
                        <a href="#">Second Level Item</a>
                    </li>
                    <li>
                        <a href="#">Second Level Item</a>
                    </li>
                    <li>
                        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" data-target="#multi_menu_2">Third Level</a>
                        <ul class="sidenav-third-level collapse" id="multi_menu_2">
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
        <!--/left side nav-->


        <!--nav push link-->
        <ul class="navbar-nav sidenav-toggler">
            <li class="nav-item">
                <a class="nav-link text-center" id="left-nav-toggler">
                    <i class="fa fa-angle-left"></i>
                </a>
            </li>
        </ul>
        <!--/nav push link-->
